body{background-image: linear-gradient(26deg,rgba(255,10,20,0.4),rgba(30,40,20,0.3))
}
a{text-decoration: none;
    color:black;
    font-size:normal;
    }
    div{text-align:center;
        margin:-10px;
        border:solid yellow 2px;
        height:40px;
        width:100%;
         background-color:gold;
         padding: 10px;
    }
    
    #paragraph{text-align:justify;
                font-weight:400px;
                }  
h1{ 
    color: black;
    text-align:center;
}



